<div id="gameviewbox" class="modal-demo card border-primary" style="">
                <button type="button" class="close" onclick="Custombox.close();">
                    <span>×</span><span class="sr-only">Close</span>
                </button>
                <h4 class="custom-modal-title bg-primary">상세보기</h4>
                <div class="custom-modal-text text-left  w-100">
                    <div class="d-flex align-items-start flex-column  w-100">
                       <div class="text-primary w-100">
                          <h4>등급</h4>
                          <p>브론즈</p> 
                          <hr>
                          <h4 class="card-title">주 라인</h4>
                          <p>탑</p> 
                       </div>
                   </div>
                </div>
            </div>