<div class="content">
  <div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group pull-right m-t-20">
                <button type="button" class="btn btn-custom dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                </div>
            </div>
            <h4 class="page-title">게시판 보드</h4>
        </div>
    </div>
    <!-- end page title end breadcrumb -->


    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
              <ul class="list-unstyled">
                <li>
                  <div class= "d-flex ">
                      <div class= "p-0 w-15">
                        <img class="pr-1" src = "https://www.bloter.net/wp-content/uploads/2017/06/%EA%B5%AC%EA%B8%80-765x430.png"
                         style="height: 60px; width: 90px;">
                      </div>
                      <div class= "flex-grow-1 flex-wrap ">
                        <div class = "p-0 flex-fill " >
                          <h5 class = "m-0"><strong>글 제목은 제한 없이 일단 길게 써본다.</strong></h5>
                        </div>
                        <div class= "p-0 " >
                          <small >카테고리</small>
                        </div>
                        <div class= "p-0 " >
                          <small>글 작성 날짜/작성자/추천 수</small>
                        </div>
                      </div>
                  </div>
                  <hr>
                </li>
                
                <li>
                  <div class= "d-flex ">
                      <div class= "p-0 w-15">
                        <img class="pr-1" src = "http://static.inven.co.kr/column/2014/05/21/news/i1568305431.jpg"
                         style="height: 60px; width: 90px;">
                      </div>
                      <div class= "flex-grow-1 flex-wrap ">
                        <div class = "p-0 flex-fill " >
                          <h5 class = "m-0"><strong>뿌애애애애애애애애애앵.</strong></h5>
                        </div>
                        <div class= "p-0 " >
                          <small >카테고리</small>
                        </div>
                        <div class= "p-0 " >
                          <small>글 작성 날짜/작성자/추천 수</small>
                        </div>
                      </div>
                  </div>
                  <hr>
                </li>
                
                <li>
                  <div class= "d-flex ">
                      <div class= "p-0 w-15">
                        <img class="pr-1" src = "https://cdn.namuwikiusercontent.com/s/ec96b7afb1f5fa0e3dc6144472683c6b2cfc72c91a5bcdfee98d2ae6e8d6ad189a4ad9f111b3a4e1d117bfa841499c7a661729bd8094ed91a39e27ec044a03c76e1c32eb5ba2e06847b1a652c980c5cd?e=1532360774&k=hZL8f0PM36GyAL_0k3Z-Jw"
                         style="height: 60px; width: 90px;">
                      </div>
                      <div class= "flex-grow-1 flex-wrap ">
                        <div class = "p-0 flex-fill " >
                          <h5 class = "m-0"><strong>니아ㅓ린야러잳 ㅑ</strong></h5>
                        </div>
                        <div class= "p-0 " >
                          <small >카테고리</small>
                        </div>
                        <div class= "p-0 " >
                          <small>글 작성 날짜/작성자/추천 수</small>
                        </div>
                      </div>
                  </div>
                  <hr>
                </li>
              </ul>
            </div> <!-- end card-box -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
  </div> <!-- end container -->
</div>